In [42]:
from random import randrange as random
import numpy as np
feature_names = ['outlook' , 'time' , 'wind' , 'temp','play'];
outlook = ('sunny' ,'snowy', 'rainy' , 'cloudy','foggy','storm');
temp = ('freezing','cold', 'mild' ,'warm', 'hot');
wind = ('weak','medium' , 'strong');
time = ('morning','night');

data = [];
for i in range(1,100):
    sample = [outlook[random(0,len(outlook))] , time[random(0,len(time))] ,wind[random(0,len(wind))] , temp[random(0,len(temp))] , random(0,2)];
    data.append(sample)

In [66]:
import pandas as pd
dataframe = pd.DataFrame(data , columns = feature_names)
dataframe[4:9]

  outlook     time    wind      temp  play
4  cloudy    night  medium      warm     0
5   storm  morning  strong      mild     1
6   storm  morning  strong       hot     1
7   storm  morning    weak      cold     0
8   storm  morning    weak  freezing     1

In [85]:
feature_prob = {};
p_no = len(dataframe[dataframe.play==0]);
p_yes = len(dataframe[dataframe.play==1]);
for i in feature_names[:len(feature_names)-1]:
    df_feature = dataframe[[i, 'play']];
    for j in eval(i):
        df_j = (df_feature[df_feature[i]==j]);
        j_yes =len(df_j[df_j.play==1]);
        j_no = len(df_j[df_j.play==0]);
        feature_prob[i , j] = {'yes':j_yes/p_yes , 'no':j_no/p_no , 'total':(j_yes+j_no)/100}

In [86]:
feature_frame = pd.DataFrame(feature_prob)
feature_frame.outlook.T

             yes        no  total
sunny   0.192308  0.106383   0.15
snowy   0.134615  0.212766   0.17
rainy   0.269231  0.212766   0.24
cloudy  0.173077  0.191489   0.18
foggy   0.057692  0.148936   0.10
storm   0.173077  0.127660   0.15

In [87]:
feature_frame.time.T

              yes        no  total
morning  0.557692  0.468085   0.51
night    0.442308  0.531915   0.48

In [88]:
feature_frame.wind.T

             yes        no  total
weak    0.288462  0.382979   0.33
medium  0.346154  0.361702   0.35
strong  0.365385  0.255319   0.31

In [89]:
feature_frame.temp.T

               yes        no  total
freezing  0.250000  0.212766   0.23
cold      0.250000  0.276596   0.26
mild      0.173077  0.085106   0.13
warm      0.076923  0.234043   0.15
hot       0.250000  0.191489   0.22

In [92]:
print('not play' , p_no/100);
print('play' , p_yes/100);

not play 0.47
play 0.52

assume that it is a couldy night with hot temp and strong wind.

can we play or we should stay at home?

* p(X|play==1) = p(cloudy|1)p(night|1)p(hot|1)p(strong|1) = 0.006992


* p(X|play==0) = p(cloudy|0)p(night|0)p(hot|0)p(strong|0) = 0.004979

# p (C|X) = p(X|C)*p(C)/p(X)

p(play==1 | X) = 0.006992 * .52/ 0.005892 = 0.617


p(play==0 | X) = 0.004979 *  .47/ 0.005892 = 0.3971

so we the chance that we can play is more than stay at home. so lets play :)

----------------------------

In [159]:
import numpy as np
data = np.array(data)
y = [int(i) for i in data[:,4]]
x = data[:,:4];
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB();
...;